body
{
    margin: 0px;
    padding: 0px;
    
    font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
}

div.page_wrapper
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    
    margin: 0px;
    padding: 0px;
    
    /* background stuff */
}

.gray
{
}

h1, h2, h3, h4, h5
{
    font-size: 22px;
    
    margin: 0px 0px 10px 0px;
    padding: 0px;
    
    font-weight: 650;
/*    font-family: "Salsa", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;*/
}

p
{
    margin: 0px;
    padding: 0px;
    
    font-size: 16px;
    font-weight: 300;
}

div.black_box
{
    position: absolute;
    margin: 0px auto;
    margin-top: -125px;
    margin-left: -200px;
    
    top: 50%;
    left: 50%;
    
    height: 200px;
    width: 350px;
    padding: 25px;
    
    /* background */
   /* background: rgb(51,51,51);
    background: rgba(51,51,51,0.75);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#333333,endColorstr=#333333);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#333333, endColorstr=#333333)"; */
    
    color: #fff;
    z-index: 4;
}

.logo
{
    font-size: 85px;
    text-align: center;
}

.instructions
{
    text-align: center;
}

div.background_photos
{
    position: relative;
    top: 0px;
    left: 0px;
    
    z-index: -1;
    
    height: 100%;
    width: 100%;



     background: url(http://farm2.staticflickr.com/1410/543330359_ddc3295035.jpg) no-repeat center center fixed; 
     /*background: url( http://farm1.staticflickr.com/62/155903230_afbc19f646.jpg) no-repeat center center fixed; */
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

-webkit-filter: blur(3px); -moz-filter: blur(3px); -o-filter: blur(3px); -ms-filter: blur(3px); filter: blur(3px);
}
