body
{
    margin: 0px;
    padding: 0px;
    font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
    color: #444;
    background-color: #f5f5f5;
    min-width: 1000px;
}

div.page_wrapper
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    
    margin: 0px;
    padding: 0px;
    min-width: 1000px;
    
    /* background stuff */
}

a div
{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5
{
    font-size: 2.5em;
    
    margin: 0px 0px 10px 0px;
    padding: 0px;
    
    font-weight: 300;
    clear:left;
}

p
{
    margin: 0px;
    padding: 0px;
    
    font-size: 1.25em;
    font-weight: 300;
}

div.black_box
{
    position: absolute;
    margin: 0px auto;
    margin-top: -125px;
    margin-left: -200px;
    
    top: 50%;
    left: 50%;
    
    height: 200px;
    width: 350px;
    padding: 25px;
    
    /* background */
   /* background: rgb(51,51,51);
    background: rgba(51,51,51,0.75);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#333333,endColorstr=#333333);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#333333, endColorstr=#333333)"; */
    
    color: #fff;
    z-index: 4;
}

.logo
{
    font-size: 5em;
    text-align: center;
    font-weight: 550;
}

div.background_photos
{
    position: relative;
    top: 0px;
    left: 0px;
    
    z-index: -1;
    
    height: 100%;
    width: 100%;



     background: url(http://farm2.staticflickr.com/1410/543330359_ddc3295035.jpg) no-repeat center center fixed; 
     /*background: url( http://farm1.staticflickr.com/62/155903230_afbc19f646.jpg) no-repeat center center fixed; */
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

-webkit-filter: blur(3px); -moz-filter: blur(3px); -o-filter: blur(3px); -ms-filter: blur(3px); filter: blur(3px);
}

div.register_button
{
    height:45px;
    width:150px;
    background-color:#009939;
    font-size: 2em;
    padding:5px;
    text-align:center;
    float:left;
    margin-right:15px;
}

div.login_button
{
    height: 77px;
    width: 350px;
    background-image: url('../media/Red-signin_Long_base_44dp.png');
    background-size: 100% 100%;
}

div.login_button:hover
{
    background-image: url('../media/Red-signin_Long_hover_44dp.png');
}

div.login_button:active
{
    background-image: url('../media/Red-signin_Long_press_44dp.png');
}

/*******************************************************************************
 *************************** BUSINESS STYLE ************************************
 ******************************************************************************/
 
 div.business_wrapper
 {
    position: relative;
    width: 88%;
    left: 6%;
    top: 10px;
    
    margin: 0px;
    padding: 0px;
    padding-bottom: 50px;
 }
 
 .rounded_container
 {
    float: left;
    height: auto;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
 }
 
 .menu
 {
    width: 55%;
    margin-left: -4px;
 }
 
 .business_information
 {
    width: 40%;
    margin-right: 5%;
    height: 186px;
 }
 
 .menu_item
 {
    width: 100%;
    height: 60px;
    background: #fff;
    border-bottom: solid 1px #e5e5e5;
 }
 
 .round_top
 {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
 }
 
 .round_bottom
 {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom: none !important;
 }
 
 .orders
 {
    display: block;
    width: 100%;
    padding-bottom: 40px;
 }
 
 .order_item
 {
    position: relative;
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: solid 1px #e5e5e5;
 }
 
 img.business_logo
 {
    float: left;
    width: 100px;
    margin: 0px;
    margin-right: 20px;
    height: 50%;
 }
 
 .phone
 {
    margin-top: 10px;
 }
 
 
.button
{
	height: 40px;
	line-height: 40px;
	font-size: 1.1em;
	background-color: #f5f5f5;
	margin: 0px 4px;
	padding: 0px 14px;
	position:relative;
	display:inline-block;
	border-radius: 2px;
	
	border: 1px solid #dcdcdc;
	border-color: rgba(0,0,0,.1);
	color: #444;
	
	cursor: pointer;
}

.accept, .deny
{
    top: 20px;
    right: 0px;
    float: right !important;
}

.button:hover
{
	border: 1px solid #c6c6c6;
	background-color: #f8f8f8;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	color: #222;
}

.button:active
{
	border: 1px solid #c6c6c6;
	background-color: #f8f8f8;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	color: #222;
}
