body
{
    margin: 0px;
    padding: 0px;
    font-family: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
    color: #444;
    background-color: #f5f5f5;
    min-width: 1000px;
}

div.page_wrapper
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    
    margin: 0px;
    padding: 0px;
    min-width: 1000px;
    
    /* background stuff */
}

.hide_overflow
{
    overflow: hidden;
}

a div
{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5
{
    font-size: 2.5em;
    
    margin: 0px 0px 10px 0px;
    padding: 0px;
    
    font-weight: 300;
    clear:left;
}

p
{
    margin: 0px;
    padding: 0px;
    
    font-size: 1.25em;
    font-weight: 300;
}

div.black_box
{
    position: absolute;
    margin: 0px auto;
    margin-top: -125px;
    margin-left: -200px;
    
    top: 50%;
    left: 50%;
    
    height: 200px;
    width: 350px;
    padding: 25px;
    
    /* background */
   /* background: rgb(51,51,51);
    background: rgba(51,51,51,0.75);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#333333,endColorstr=#333333);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#333333, endColorstr=#333333)"; */
    
    color: #fff;
    z-index: 4;
}

div.black_box.slideup
{
    -webkit-animation-name: slide-off-screen; /* Safari 4+ */
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 2s;
    
    -moz-animation-name: slide-off-screen; /* Safari 4+ */
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-fill-mode: forwards;
    -moz-animation-duration: 2s;
    
    -o-animation-name: slide-off-screen; /* Safari 4+ */
    -o-animation-timing-function: ease-in-out;
    -o-animation-fill-mode: forwards;
    -o-animation-duration: 2s;
    
    animation-name: slide-off-screen; /* Safari 4+ */
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.logo
{
    font-size: 5em;
    text-align: center;
    font-weight: 550;
}

div.background_photos
{
    position: relative;
    top: 0px;
    left: 0px;
    
    z-index: -1;
    
    height: 100%;
    width: 100%;

    background: url(http://farm2.staticflickr.com/1410/543330359_ddc3295035.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

-webkit-filter: blur(3px); -moz-filter: blur(3px); -o-filter: blur(3px); -ms-filter: blur(3px); filter: blur(3px);
}

div.register_button
{
    height:45px;
    width:150px;
    background-color:#009939;
    color:#FFFFFF;
    font-size: 2em;
    padding:5px;
    text-align:center;
    float:left;
    margin-right:5px;
}

div.register_button:hover 
{
    background-color:#069F3F !important;
    border: 1px solid #009636;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
    color:#FFF;
}

div.register_button:active 
{
    background-color:#009636 !important;
    border-color:none;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}

div.add_form
{
    height: 400px;
    width: 350px;
    position:absolute;
    
    top: 150%;
    left: 50%;
    
    color:#FFF;
    
    margin: 0px;
    margin-top: -200px;
    margin-left: -200px;
    padding: 25px;
    opacity: 0;
}

div.add_form.register
{
    -webkit-animation-name: display-registration-form; /* Safari 4+ */
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    
    -moz-animation-name: display-registration-form; /* Safari 4+ */
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-fill-mode: forwards;
    -moz-animation-duration: 1s;
    
    -o-animation-name: display-registration-form; /* Safari 4+ */
    -o-animation-timing-function: ease-in-out;
    -o-animation-fill-mode: forwards;
    -o-animation-duration: 1s;
    
    animation-name: display-registration-form; /* Safari 4+ */
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

div.add_form input 
{
    display: block;
    margin: auto;
    width: 90%;
    font-size: 1.10em;
    line-height:2.5em;
    margin-bottom: 10px;
    padding: 4px 0px 4px 10px;
    
    border-radius:5px;
    border: transparent 1px solid;
}

div.add_form input.submit 
{
    margin-top: 20px;
    padding: 4px 0px 4px 10px;
    background: #d14836;
    color: #fff;
}

p.dietrestrictions
{
    margin: 0px 0px 2px 0px;
    font-weight: 400;
}

#dietrestrictions
{
    width: 100%;
    padding-left: 2px;
}

#dietrestrictions input
{
    display: inline-block;
}

div.login_button
{
    height: 77px;
    width: 350px;
    background-image: url('../media/Red-signin_Long_base_44dp.png');
    background-size: 100% 100%;
}

div.login_button:hover
{
    background-image: url('../media/Red-signin_Long_hover_44dp.png');
}

div.login_button:active
{
    background-image: url('../media/Red-signin_Long_press_44dp.png');
}

/*******************************************************************************
 *************************** BUSINESS STYLE ************************************
 ******************************************************************************/
 
 div.business_wrapper
 {
    position: relative;
    width: 88%;
    left: 6%;
    top: 10px;
    
    margin: 0px;
    padding: 0px;
    padding-bottom: 50px;
 }
 
 .rounded_container
 {
    float: left;
    height: auto;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
 }
 
 .menu
 {
    width: 55%;
    margin-left: -4px;
 }
 
 .business_information
 {
    width: 40%;
    margin-right: 5%;
    height: 186px;
 }
  
 .menu_item
 {
    width: 100%;
    height: 60px;
    background: #fff;
    border-bottom: solid 1px #e5e5e5;
    position: relative;
    overflow: hidden;
 }
 
 .menu_item_photo
 {
    height: 60px;
    width: 60px;
    float: left;
    
    margin:0px;
    margin-right: 20px;
    padding: 0px;
 }
 
 .menu_item_name
 {
    line-height: 60px;
    height: 60px;
    width: 50%;
    margin: 0px;
    margin-right: 10px;
    padding: 0px;
    float: left;
 }
 
 .menu_item_price
 {
    line-height: 60px;
    height: 60px;
    margin: 0px;
    margin-right: 0px;
    padding: 0px;
    position: absolute;
    right: 10px;
    top: 0px;
 }
 
 
 .round_top
 {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
 }
 
 .round_bottom
 {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom: none !important;
 }
 
 .orders
 {
    display: block;
    width: 100%;
    padding-bottom: 40px;
 }
 
 .order_item
 {
    position: relative;
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: solid 1px #e5e5e5;
 }
 
 .order_item_name
 {
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    line-height: 80px;
    width: 25%;
    height: 80px;
    overflow: hidden;
 }
 
 .order_item_address, .order_item_phone
 {
    float: left;
    margin-right: 20px;
    line-height: 1.25em;
    width: 25%;
    height: 40px;
    padding: 16px 0px;
    overflow: hidden;
 }
 
 .order_item_phone
 {
    width: 20%;
 }
 
 img.business_logo
 {
    float: left;
    width: 100px;
    margin: 0px;
    margin-right: 20px;
    height: 50%;
 }
 
 .phone
 {
    margin-top: 10px;
 }
 
 .hours
 {
    margin-top: 10px;
    float: left;
    clear: left;
 }
 

/*******************************************************************************
 *************************** BUTTON STYLE ************************************
 ******************************************************************************/
 
.button
{
	height: 40px;
	line-height: 40px;
	font-size: 1.1em;
	background-color: #f5f5f5;
	margin: 0px 4px;
	padding: 0px 14px;
	position:relative;
	display:inline-block;
	border-radius: 2px;
	
	border: 1px solid #dcdcdc;
	border-color: rgba(0,0,0,.1);
	color: #444;
	
	cursor: pointer;
}

.accept, .deny
{
    top: 20px;
    right: 0px;
    float: right !important;
    color: #fff !important;
}

.accept
{
    background: #009939 !important;
}

.accept:hover
{
    background: #039C3C !important;
}

.accept:active
{
    background: #009636 !important;
}

.deny
{
    background: #d14836 !important;
    margin-right: 10px;
}

.deny:hover
{
}

.deny:active
{
}

.button:hover
{
	border: 1px solid #c6c6c6;
	background-color: #f8f8f8;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	color: #222;
}

.button:active
{
	border: 1px solid #c6c6c6;
	background-color: #f8f8f8;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	color: #222;
}


/*******************************************************************************
 *************************** CSS ANIMATIONS ************************************
 ******************************************************************************/
 @-webkit-keyframes display-registration-form {
  0%   { opacity: 0; }
  50%  { opacity: .6;}
  100% { opacity: 1; top: 50%;}
}
@-moz-keyframes display-registration-form {
  0%   { opacity: 0; }
  50%  { opacity: .6;}
  100% { opacity: 1; top: 50%;}
}
@-o-keyframes display-registration-form {
  0%   { opacity: 0; }
  50%  { opacity: .6;}
  100% { opacity: 1; top: 50%;}
}
@keyframes display-registration-form {
  0%   { opacity: 0; }
  50%  { opacity: .6;}
  100% { opacity: 1; top: 50%;}
}

 @-webkit-keyframes slide-off-screen {
  0%   { opacity: 1; }
  50%  { opacity: .4;}
  100% { opacity: 0; top: -150%;}
}
@-moz-keyframes slide-off-screen {
  0%   { opacity: 1; }
  50%  { opacity: .4;}
  100% { opacity: 0; top: -150%;}
}
@-o-keyframes slide-off-screen {
  0%   { opacity: 1; }
  50%  { opacity: .4;}
  100% { opacity: 0; top: -150%;}
}
@keyframes slide-off-screen {
  0%   { opacity: 1; }
  50%  { opacity: .4;}
  100% { opacity: 0; top: -150%;}
}
